<ul class="accordion desktop" id="accordion">

  <!-- Landing -->
  <li>
    <label for="info">Info</label>
    <input type="radio" name="accordion" id="info" data-collapsed="true" checked>
    <div class="content">
      Carter Duong is a designer, developer, and artist from 
      the Bay Area<sup><a href>1</a>+<a href>2</a></sup> and based in Los Angeles<sup><a href>3</a></sup>. 
      He recently graduated from UC San Diego<sup><a href>4</a></sup> with a B.A. 
      in Interdisciplinary Computing and the Arts<sup><a href>5</a></sup>.<br><br>
      <a>EMAIL</a><br>
      <a>ARE.NA</a><br>
      <a>TUMBLR</a><br><br>
    </div>
  </li>

  <!-- Projects -->
  {% for project in site.data.projects %}
  <li>
    <label for="{{project.title}}">{{project.title}}</label>
    <input type="radio" name="accordion" id="{{project.title}}" data-collapsed="true">
    <div class="content">
        <p class="meta-text sub-menu">
            {%if project.role %}
              {{project.role}}
              <br>
            {%endif%}
            {%if project.date %}
              {{project.date}}
              <br>
            {%endif%}
            {{project.collaborators}}
          </p>
          <p class="description-text sub-menu">
            {{project.description}}
          </p>
          <br>
    </div>
  </li>
  {% endfor %}
</ul>
