html {
  color: white;
  background-color: black;
  font-size: 16px;
}

.vertical-line{
  border-left: 0.1rem solid grey;
  width: .2rem; /* Use only border style */
  height: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 5vh;

  img {
      max-width: 65%;
      height: auto;
  
      &:not(:last-child) {
          margin-bottom: 5vh;
      }
  }

  video {
      max-width: 70%;
      height: auto;
  
      &:not(:last-child) {
          margin-bottom: 2vh;
      } 
   }
}

.landing {
  height: 100vh;
}

.name {
  padding: 2vh 0 2vh 2vh;
}

.project {
  margin: 0 0 10vh 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 8vw 0 9vw;
}

.title {
  padding: 0 3vh 0 3vh;
}
