$break-medium: 600px;

$white: #FFFFFF;
$grey: #A9A9A9;

html {
  color: white;
  background-color: black;
}

h1 {
  margin: 1rem 0 0 0;
  padding: 0 3vh 0 3vh;

  @media screen and (min-width: $break-medium) {
    padding: 0 0 0 0;
  }
}

p {
  margin: 1rem 0 0 0;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: black;
    background-color: white;
  }
}

@keyframes pulse {
  0% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
  50% {
    opacity: 1;
    text-shadow: 0x 0px 5px white;
  }
  100% {
    opacity: .3;
    text-shadow: 0px 0px 5px white;
  }
}

/**** Project Template ****/
.project {

  @media screen and (min-width: $break-medium) {  
    position: relative;
    margin: auto;
    width: 50vw;
  }

  :last-child {
    padding-bottom: 10vh;
  }
}

.fadeIn {
  -webkit-animation: opacityUp 3s;
  opacity: 1.0;
  -webkit-opacity: 1.0;
}

.fadeOut {
  -webkit-animation: opacityUp 1s reverse;
  opacity: 1.0;
  -webkit-opacity: 1.0;
  
}

@-webkit-keyframes opacityUp {
  0% { 
      opacity: 0.0;
      -webkit-opacity: 0.0;
  }
  7% {
      opacity: 0.0;
      -webkit-opacity: 0.0;
  }
  100% { 
      opacity: 1.0;
      -webkit-opacity: 1.0;
  }
}

/**** Images ****/
#canvas-container {
  top: 0;
  left: 0;
  z-index: -1;
  width: 98vw;
  height: 90vh;
} 

#mobile-landing {
  height: 100vh;
  width: 50vw;
}

.image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 4vh;

  picture {
    max-width: 70%;
    height: auto;

    &:not(:last-child) {
      margin-bottom: 2vh;
    }
  }

  img {
    max-width: 75%;
    height: auto;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  video {
    max-width: 70%;
    height: auto;

    &:not(:last-child) {
      margin-bottom: 2vh;
    }
  }

  @media screen and (min-width: $break-medium) {
    margin-bottom: 10vh;
  }
}


/**** Text ****/

.bottom-text {
  position: fixed;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  background-color: black;
  display: none;
}

.active {
  display: flex;
  justify-content: center;
}

.text-container {
  width: 80vw;
  background-image: linear-gradient(to right, #ffffff 40%, #000000 20%);
  background-position: top;
  background-size: 20px 1px;
  background-repeat: repeat-x;
  opacity: 1;

  box-shadow: 0px -10px 10px black;

  display: flex;
  flex-direction: row; 
}

.title-text {
  flex: 2;
  margin: 2vh .5vw 1vh .5vw;
  animation: pulse 3s infinite;
}

.description-text {
 flex: 3;
 margin: 2vh .5vw 1vh .5vw;

}

.meta-text {
  flex: 2;
  margin: 2vh .5vw 1vh 1vw;

}