html {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.description-container {
  font-size: 13px;

}


.meta-text {
  text-transform: uppercase;
}