html {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
}
.description-container {
  font-size: 13px;

}

.meta-text {
  text-transform: uppercase;
}

.name {
  font-size: 1.8rem;
  letter-spacing: -0.1rem;
}